k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
// storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
storageMountPath = '/mnt'
 launchDir = '/mnt/shared/MedGen/ACGT/nf_KSK_gene_panel/launch'
 projectDir = '/mnt/shared/MedGen/ACGT/nf_KSK_gene_panel/project'
 workDir = '/mnt/shared/MedGen/ACGT/nf_KSK_gene_panel/work'
 //pullPolicy = 'Always'
}

params {
 bedpath = "${k8s.projectDir}/xsvato01/KSK_ACGT/utils/genes_noscaffold.txt"
 //geny_ksk = "${k8s.projectDir}/xsvato01/KSK_ACGT/utils/genes_KSK.csv"
 geny_ksk = "${k8s.projectDir}/xsvato01/KSK_ACGT/utils/MTHFR.csv"

 get_csvs = "${k8s.projectDir}/xsvato01/KSK_ACGT/src/gene_list.py"
 get_additional = "${k8s.projectDir}/xsvato01/KSK_ACGT/src/KSK_myvariant_pipeline.py"
 cat_csvs = "${k8s.projectDir}/xsvato01/KSK_ACGT/src/merge_csvs.py"
}

executor {
 queueSize =  25
}

process {
 container = 'registry.gitlab.ics.muni.cz:443/450402/ksk_acgt:16'
 scratch = true
 cpus = 1
 memory = '4GB'
 executor = 'k8s'
 time = '720.h'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}


dag {
 enabled = true
 file = "${k8s.launchDir}/pipeline_info/pipeline_dag.svg"
}

report {
 enabled = true
 file = "${k8s.launchDir}/pipeline_info/execution_report.html"
}

timeline {
 enabled = true
 file = "${k8s.launchDir}/pipeline_info/execution_timeline.html"
}
trace {
 enabled = true
 file = "${k8s.launchDir}/pipeline_info/execution_trace.txt"
}
